@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.red {
  color: #FF0000;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Navbar */
.nav-pills > li > a.active {
  background-color: #ff0000!important;
}
.nav-pills > li > a:not(.active) {
  color: black!important;
}
.nav-header {
  margin: auto;
}
.nav-text{
  margin-right: 40px;
}

@media screen and (min-width: 1025px) {
  .nav-header {
    margin: 0;
  }
}
.nav {
  margin-top: 20px;
}

/* centered text */
.center-text {
  font-size: 20px;
  text-align: center;
  margin-inline: 20px;
}
@media screen and (min-width: 769px) {
  .center-text {
     font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .center-text {
     font-size: 30px;
  }
}

/* side text */
.side-text {
  font-size: 15px;
}
@media screen and (min-width: 769px) {
  .side-text {
     font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .side-text {
     font-size: 25px;
  }
}

/* large header text */
.large-header {
  font-size: 25px;
  margin-bottom: 40px;
}
@media screen and (min-width: 769px) {
  .large-header {
     font-size: 35px;
  }
}
@media screen and (min-width: 1025px) {
  .large-header {
     font-size: 45px;
  }
}

/* index carousel */
.carousel {
  margin: auto;
  margin-block: 40px;
  max-width: 400px;
}
@media screen and (min-width: 769px) {
  .carousel {
    max-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .carousel {
    max-width: 800px;
  }
}

/*faa text */
.faa-text {
  font-size: 20px;
  text-align: center;
  margin-inline: 20px;
}
@media screen and (min-width: 769px) {
  .faa-text {
     font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .faa-text {
     font-size: 30px;
  }
}

/* center image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* container for text and img */
.img-container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }

 img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 70px;
}



